/*Header*/

header {
    margin: 60px 0;
    transition: all .5s;
}

header.hdr-sm {
    margin: 0;
    background: transparent;
}

header.hdr-up {
    background-color: white;
}

header.hdr-dw .visibility {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s;
}

header a {
    color: #025157;
}

header .btn-success {
    background-color: #025157;
}

/* Video */

.info-video h1 {
    font-size: 65px;
    font-weight: 1000;
    color: #025157;
}

.info-video p:first-of-type {
    font-size: 18px;
    color: #46484c;
    margin: 20px 0;
}

.info-video p:last-of-type {
    font-size: 14px;
    color: rgba(139, 139, 139, .8);
    margin-bottom: 30px;
}

.section-brands p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* Features */

.section-features h2 {
    font-size: 55px;
    color: #025157;
    font-weight: 1000;
}

.section-features p {
    font-size: 19px;
    color: #4a4a4a;
}

.card-img {
    overflow: hidden;
}

.card-img img {
    width: 100%;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.card-img img:hover {
    transform: scale(1.05) rotate(2deg);
}

.section-features h3 {
    font-size: 24px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.section-features h3:hover {
    color: #67b54b
}

/* Tools */

.section-tools h2 {
    font-size: 40px;
    color: #025157;
    font-weight: 1000;
}

.section-tools img {
    max-width: 38px
}

.section-tools h3 {
    font-size: 18px;
}

.section-tools p {
    font-size: 15px;
    color: #7e7e7e;
}