/*Header*/

header {
    margin: 60px 0;
    transition: all .5s;
}

header.hdr-sm {
    margin: 0;
    background: none;
}

header.hdr-up {
    background-color: white;
}

header.hdr-dw .visibility {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s;
}

header a {
    color: #025157;
}

/* Video */

.info-video h1 {
    font-size: 65px;
    font-weight: 1000;
    color: #025157;
}

.info-video p:first-of-type {
    font-size: 18px;
    color: #46484c;
    margin: 20px 0;
}

.info-video p:last-of-type {
    font-size: 14px;
    color: rgba(139, 139, 139, .8);
    margin-bottom: 30px;
}